@charset "utf-8";
/* CSS Document */

body {
  padding-left: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif",
        Times, serif;
  color: black;
  background-color: #fff }

html, body {margin:50}

nav
{
display: block;
background: #222222;
width: 100%;
height:45px;
text-align: center;
}

nav ul
{
margin: 0px;
padding: 0px;
list-style-type:none;
}

nav li
{
display: inline-block;
}

nav a{
line-height:41px;
display:inline-block;
width:200px;
font-size: 1.3em;
text-decoration: none;
color: #FFFFFF;
}

.imageCentre {text-align:center}


